{
    "openapi": "3.0.0",
    "info": {
        "title": "VAT API v1",
        "description": "API for VAT UID validation, state retrieval, history, and search.",
        "contact": {
            "email": "support@theconcept-technologies.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://sandbox.taxora.io/v1",
            "description": "VAT API Server"
        }
    ],
    "paths": {
        "/v1/analytics": {
            "get": {
                "tags": [
                    "Company"
                ],
                "summary": "Get analytics for the authenticated user's company",
                "description": "Returns analytics data for the authenticated user's company",
                "operationId": "6414d44e304a7e4fd815f0519f6ac12d",
                "responses": {
                    "200": {
                        "description": "Company retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not authorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/analytics/insights": {
            "get": {
                "tags": [
                    "Company"
                ],
                "summary": "Get advanced analytics insights",
                "description": "Returns validation, geographic, AI, time-based, and business insights with optional filters.",
                "operationId": "7573ee35cc371033ec4a2e404b0858b1",
                "parameters": [
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Start date (ISO 8601)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "End date (ISO 8601)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "account_id",
                        "in": "query",
                        "description": "Filter analytics for a specific account/company ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "Filter analytics by API key (plaintext or hashed)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "critical_threshold",
                        "in": "query",
                        "description": "Failure rate threshold for highlighting critical countries (0-1)",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Analytics insights payload",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "User Login",
                "description": "Authenticates the user and returns an access token.",
                "operationId": "8c0c5721bd4d6c49920dd516eaee6637",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "description": "User email address. Required when client_id is not provided.",
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    },
                                    "client_id": {
                                        "description": "API user identifier. Required when email is not provided.",
                                        "type": "string",
                                        "example": "client_abc123"
                                    },
                                    "password": {
                                        "description": "User password or client secret",
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful login",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "access_token": {
                                            "description": "Access token for authenticated requests",
                                            "type": "string",
                                            "example": "<your-jwt-token>"
                                        },
                                        "token_type": {
                                            "description": "Token type",
                                            "type": "string",
                                            "example": "Bearer"
                                        },
                                        "expires_in": {
                                            "description": "Token expiration time in seconds",
                                            "type": "integer",
                                            "example": 3600
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error"
                    },
                    "401": {
                        "description": "Unauthorized - Invalid credentials"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/v1/refresh": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Refresh Access Token",
                "description": "Deletes the existing token and generates a new one.",
                "operationId": "994ecc43ada29d9ee73b66d721be1a5d",
                "responses": {
                    "200": {
                        "description": "Successful token refresh",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "access_token": {
                                            "description": "New access token",
                                            "type": "string",
                                            "example": "<new-access-token>"
                                        },
                                        "token_type": {
                                            "description": "Token type",
                                            "type": "string",
                                            "example": "Bearer"
                                        },
                                        "expires_in": {
                                            "description": "Token expiration time in seconds",
                                            "type": "integer",
                                            "example": 3600
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/billing/usage-summaries": {
            "get": {
                "tags": [
                    "Billing"
                ],
                "summary": "List billing usage summaries for the authenticated company",
                "operationId": "63940a1d555f3b8efac02886131c727c",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Page size (1-100, default 25)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 25,
                            "maximum": 100,
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated list of usage summaries (newest billing periods first)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/UsageSummary"
                                                    }
                                                },
                                                "meta": {
                                                    "properties": {
                                                        "current_page": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "per_page": {
                                                            "type": "integer",
                                                            "example": 25
                                                        },
                                                        "total": {
                                                            "type": "integer",
                                                            "example": 12
                                                        },
                                                        "last_page": {
                                                            "type": "integer",
                                                            "example": 1
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/billing/usage-summaries/{period}": {
            "get": {
                "tags": [
                    "Billing"
                ],
                "summary": "Get the usage summary detail (with events) for a given billing period",
                "operationId": "61ac09345829140434602272f839d6da",
                "parameters": [
                    {
                        "name": "period",
                        "in": "path",
                        "description": "Billing period in YYYY-MM (e.g. 2026-09)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "^\\d{4}-(0[1-9]|1[0-2])$"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Summaries with nested events for the period"
                    },
                    "400": {
                        "description": "Invalid period format"
                    },
                    "404": {
                        "description": "No summaries found for this period"
                    }
                },
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/company": {
            "get": {
                "tags": [
                    "Company"
                ],
                "summary": "Get the authenticated user's company",
                "description": "Returns the company information for the authenticated user",
                "operationId": "3d4a674ad6e3a7edcfb85a62eae8016c",
                "responses": {
                    "200": {
                        "description": "Company retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/CompanyResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not authorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Company"
                ],
                "summary": "Update a company",
                "description": "Updates an existing company",
                "operationId": "de549d7bcb0a00698c7e775d597cac74",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "Updated Company Name"
                                    },
                                    "vat_history_valid_threshold_use_global": {
                                        "type": "boolean",
                                        "example": false
                                    },
                                    "vat_history_valid_threshold": {
                                        "type": "integer",
                                        "maximum": 100,
                                        "minimum": 0,
                                        "example": 60
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Company updated successfully"
                    },
                    "422": {
                        "description": "Validation failed"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Company"
                ],
                "summary": "Deactivate company account and delete allowable data",
                "description": "Deactivates all auth access, deletes deletable data, and preserves subscriptions, orders, journals, and VAT requests.",
                "operationId": "68bfaa3178cfc36ea473de4fc5a977b5",
                "responses": {
                    "200": {
                        "description": "Company deactivated"
                    },
                    "401": {
                        "description": "Not authorized"
                    },
                    "403": {
                        "description": "Not enough permissions"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/company/ai-score-threshold": {
            "post": {
                "tags": [
                    "Company"
                ],
                "summary": "Update company AI score threshold",
                "description": "Updates only the company VAT history valid threshold override",
                "operationId": "4f65b229ffee76134e71128bf8b1cbff",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "vat_history_valid_threshold"
                                ],
                                "properties": {
                                    "vat_history_valid_threshold": {
                                        "type": "integer",
                                        "maximum": 100,
                                        "minimum": 0,
                                        "example": 60,
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "AI score threshold updated successfully"
                    },
                    "400": {
                        "description": "Validation failed"
                    },
                    "403": {
                        "description": "Not enough permissions"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/company/closure-request": {
            "get": {
                "tags": [
                    "Company"
                ],
                "summary": "Get the current closure request status",
                "description": "Get the current pending closure request for the authenticated user's company (if any).",
                "operationId": "94a9f78ffb8720d91353e28b271d31f0",
                "responses": {
                    "200": {
                        "description": "Current closure request or null"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Company"
                ],
                "summary": "Request closure of the authenticated user's company account",
                "description": "Submit a request to close the whole company account. Closing the account is\nNOT instant — it creates a pending request that a Taxora backend operator must\napprove before any data is touched.",
                "operationId": "396ecd35150568035ae422853a35d848",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "reason": {
                                        "type": "string",
                                        "example": "We no longer need the service",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Closure request submitted"
                    },
                    "200": {
                        "description": "Closure request already pending"
                    },
                    "401": {
                        "description": "Not authorized"
                    },
                    "403": {
                        "description": "Not enough permissions"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Company"
                ],
                "summary": "Withdraw a pending closure request",
                "description": "Withdraw the current pending closure request for the authenticated user's company.",
                "operationId": "0fe1a3fcafe12f2a6bfda6853892d486",
                "responses": {
                    "200": {
                        "description": "Closure request withdrawn"
                    },
                    "401": {
                        "description": "Not authorized"
                    },
                    "403": {
                        "description": "Not enough permissions"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/company/api-key": {
            "put": {
                "tags": [
                    "Company"
                ],
                "summary": "Create company API key",
                "operationId": "a22923e4648772bd55a5f37d6f525748",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Staging Key"
                                    },
                                    "environment": {
                                        "description": "Target environment (default: LIVE)",
                                        "type": "string",
                                        "enum": [
                                            "LIVE",
                                            "SANDBOX"
                                        ],
                                        "example": "SANDBOX"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "API key created"
                    },
                    "401": {
                        "description": "Not authorized"
                    },
                    "422": {
                        "description": "Unable to resolve environment"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/company/api-requests": {
            "get": {
                "tags": [
                    "Company"
                ],
                "summary": "Get API requests for the authenticated user's company",
                "description": "Retrieves all API requests",
                "operationId": "c2f2b40b9cba7309aab870b66f88ee0b",
                "parameters": [
                    {
                        "name": "environment",
                        "in": "query",
                        "description": "Filter by environment (default: LIVE)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "LIVE",
                                "SANDBOX"
                            ],
                            "example": "SANDBOX"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "API requests retrieved successfully"
                    },
                    "401": {
                        "description": "Not authorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/company/current-api-group": {
            "get": {
                "tags": [
                    "Company"
                ],
                "summary": "Get current API request group",
                "operationId": "2ce5991ac2d2f1808176dd7d6f16621c",
                "parameters": [
                    {
                        "name": "environment",
                        "in": "query",
                        "description": "Filter by environment (default: LIVE)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "LIVE",
                                "SANDBOX"
                            ],
                            "example": "SANDBOX"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Current API request group retrieved"
                    },
                    "401": {
                        "description": "Not authorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/company/users": {
            "get": {
                "tags": [
                    "Company"
                ],
                "summary": "List users of the current company",
                "description": "Returns all users that belong to the authenticated user's company. Requires Merchant Admin or Readonly permissions.",
                "operationId": "7b55c9dbd326a6a03879bfba58625f80",
                "responses": {
                    "200": {
                        "description": "Users retrieved successfully"
                    },
                    "401": {
                        "description": "Not authorized"
                    },
                    "403": {
                        "description": "Not enough permissions"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/company/user": {
            "put": {
                "tags": [
                    "Company"
                ],
                "summary": "Create a new user within the current company",
                "description": "Creates an AUTH type user in the current company and optionally assigns roles. Only Merchant Admins can create users.",
                "operationId": "89bc5ffbf3e801991d119f6bd9db029e",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Jane Doe"
                                    },
                                    "firstName": {
                                        "type": "string",
                                        "example": "Jane"
                                    },
                                    "lastName": {
                                        "type": "string",
                                        "example": "Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "jane@company.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "StrongP@ssw0rd"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "StrongP@ssw0rd"
                                    },
                                    "state": {
                                        "description": "User state; defaults to 'active'",
                                        "type": "string",
                                        "example": "active"
                                    },
                                    "roles": {
                                        "description": "List of role identifiers to assign. Each item can be a role ID (integer) or a role name (string), e.g. 'backend-merchant-admin'.",
                                        "type": "array",
                                        "items": {
                                            "oneOf": [
                                                {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                {
                                                    "type": "string",
                                                    "example": "backend-merchant-admin"
                                                }
                                            ]
                                        },
                                        "example": [
                                            "backend-merchant-admin",
                                            2
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "User created successfully"
                    },
                    "401": {
                        "description": "Not authorized"
                    },
                    "403": {
                        "description": "Not enough permissions"
                    },
                    "422": {
                        "description": "Validation failed"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Company"
                ],
                "summary": "Remove (soft-delete) a user from the authenticated user's company",
                "description": "GDPR soft-delete of a single company user (instant). The user is anonymized,\nmarked as \"deleted\" and hidden from listings; retained business records stay intact.",
                "operationId": "2560b87a605df446a892d61bcfff94eb",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id"
                                ],
                                "properties": {
                                    "id": {
                                        "description": "ID of the user to remove",
                                        "type": "integer",
                                        "example": 42
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "User removed successfully"
                    },
                    "401": {
                        "description": "Not authorized"
                    },
                    "403": {
                        "description": "Not enough permissions"
                    },
                    "422": {
                        "description": "Validation failed"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/compliance/enrollments": {
            "get": {
                "tags": [
                    "Compliance"
                ],
                "summary": "List compliance enrollments for the authenticated company",
                "operationId": "da61a10cf950be1ac0c38da68c333f90",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Page size (1-100, default 25)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 25,
                            "maximum": 100,
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated list of enrollments",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/ComplianceEnrollment"
                                                    }
                                                },
                                                "meta": {
                                                    "properties": {
                                                        "current_page": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "per_page": {
                                                            "type": "integer",
                                                            "example": 25
                                                        },
                                                        "total": {
                                                            "type": "integer",
                                                            "example": 3
                                                        },
                                                        "last_page": {
                                                            "type": "integer",
                                                            "example": 1
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Compliance"
                ],
                "summary": "Create a compliance enrollment and provision the provider account",
                "description": "Creates the local enrollment, then the B2Brouter account, then (by default) activates the DGFiP tax report setting. On provider failure the local enrollment is persisted in `error_account`/`error_activation` state for retries.",
                "operationId": "30232ed599e4168744843cd3c6d6eef3",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "naf_code",
                                    "enterprise_size",
                                    "type_operation",
                                    "reporting_start_date"
                                ],
                                "properties": {
                                    "siret": {
                                        "description": "14-digit SIRET — required if siren missing",
                                        "type": "string",
                                        "example": "12345678900012"
                                    },
                                    "siren": {
                                        "description": "9-digit SIREN — required if siret missing",
                                        "type": "string",
                                        "example": "123456789"
                                    },
                                    "vat_number": {
                                        "type": "string",
                                        "example": "FR32123456789"
                                    },
                                    "company_name": {
                                        "type": "string",
                                        "example": "Acme SARL"
                                    },
                                    "address": {
                                        "type": "string",
                                        "example": "10 Rue de la Paix"
                                    },
                                    "city": {
                                        "type": "string",
                                        "example": "Paris"
                                    },
                                    "postalcode": {
                                        "type": "string",
                                        "example": "75001"
                                    },
                                    "province": {
                                        "type": "string",
                                        "example": "Île-de-France"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "tax@acme.fr"
                                    },
                                    "naf_code": {
                                        "type": "string",
                                        "example": "47"
                                    },
                                    "enterprise_size": {
                                        "type": "string",
                                        "enum": [
                                            "micro",
                                            "pme",
                                            "eti",
                                            "ge"
                                        ]
                                    },
                                    "type_operation": {
                                        "type": "string",
                                        "enum": [
                                            "services",
                                            "goods",
                                            "mixed"
                                        ]
                                    },
                                    "reporting_start_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-09-01"
                                    },
                                    "auto_activate": {
                                        "description": "When false, only the account is created — DGFiP tax-report-setting is NOT activated.",
                                        "type": "boolean",
                                        "default": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Enrollment created (and activated when auto_activate=true)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/ComplianceEnrollment"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation failed"
                    },
                    "502": {
                        "description": "Provider error — enrollment persisted in error state"
                    }
                },
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/compliance/enrollments/{id}": {
            "get": {
                "tags": [
                    "Compliance"
                ],
                "summary": "Get a single compliance enrollment",
                "operationId": "e6cd9d853047c1be7476973679756163",
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "404": {
                        "description": "Not found"
                    }
                }
            }
        },
        "/compliance/sirene-lookup": {
            "get": {
                "tags": [
                    "Compliance"
                ],
                "summary": "Look up French company data by SIRET, SIREN or FR VAT number (SIRENE registry)",
                "description": "Resolves the SIREN from the given identifier and returns official company data from the INSEE SIRENE registry. Rate-limited to 3 requests per minute per user.",
                "operationId": "84c31556ff52290a52a558a40c1594fd",
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "description": "SIRET (14 digits), SIREN (9 digits) or French VAT number (FR + 2 chars + 9 digits)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "12345678900012"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Company data found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "company_name": {
                                                    "type": "string",
                                                    "example": "Acme SARL",
                                                    "nullable": true
                                                },
                                                "siren": {
                                                    "type": "string",
                                                    "example": "123456789",
                                                    "nullable": true
                                                },
                                                "siret": {
                                                    "type": "string",
                                                    "example": "12345678900012",
                                                    "nullable": true
                                                },
                                                "naf_code": {
                                                    "type": "string",
                                                    "example": "47",
                                                    "nullable": true
                                                },
                                                "naf_full": {
                                                    "type": "string",
                                                    "example": "47.19Z",
                                                    "nullable": true
                                                },
                                                "enterprise_size": {
                                                    "type": "string",
                                                    "enum": [
                                                        "micro",
                                                        "pme",
                                                        "eti",
                                                        "ge"
                                                    ],
                                                    "nullable": true
                                                },
                                                "address": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "city": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "postalcode": {
                                                    "type": "string",
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No company found for the given SIREN"
                    },
                    "422": {
                        "description": "Missing or invalid query parameter q"
                    },
                    "429": {
                        "description": "Rate limit exceeded (3 requests/minute)"
                    }
                },
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/compliance/revenue-statistics": {
            "get": {
                "tags": [
                    "Compliance"
                ],
                "summary": "Aggregated revenue statistics for e-reporting transactions",
                "description": "Returns turnover totals, a time series and breakdowns (by transaction type, counterparty country and state) for the authenticated company. Read-only aggregation over the company's transactions. Amounts are computed in the most frequent currency in the range (`primary_currency`); a `by_currency` breakdown and `is_multi_currency` flag surface any other currencies. Defaults to the last 12 months and a monthly interval.",
                "operationId": "8a79555799629cacd21a55baccc545cb",
                "parameters": [
                    {
                        "name": "date_from",
                        "in": "query",
                        "description": "Inclusive lower bound (Y-m-d). Defaults to 12 months ago.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "date_to",
                        "in": "query",
                        "description": "Inclusive upper bound (Y-m-d). Defaults to today. Must be >= date_from.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "interval",
                        "in": "query",
                        "description": "Time-series bucket size. Defaults to month.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "day",
                                "week",
                                "month"
                            ]
                        }
                    },
                    {
                        "name": "transaction_type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "b2c_outbound",
                                "b2b_domestic_outbound",
                                "b2b_domestic_inbound",
                                "crossborder_outbound",
                                "crossborder_inbound"
                            ]
                        }
                    },
                    {
                        "name": "state",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "pending",
                                "sending",
                                "submitted",
                                "error"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "range": {
                                                    "properties": {
                                                        "date_from": {
                                                            "type": "string",
                                                            "format": "date"
                                                        },
                                                        "date_to": {
                                                            "type": "string",
                                                            "format": "date"
                                                        },
                                                        "interval": {
                                                            "type": "string",
                                                            "example": "month"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "primary_currency": {
                                                    "type": "string",
                                                    "example": "EUR"
                                                },
                                                "is_multi_currency": {
                                                    "type": "boolean",
                                                    "example": false
                                                },
                                                "totals": {
                                                    "properties": {
                                                        "count": {
                                                            "type": "integer",
                                                            "example": 1234
                                                        },
                                                        "subtotal": {
                                                            "type": "string",
                                                            "example": "100000.0000"
                                                        },
                                                        "tax_amount": {
                                                            "type": "string",
                                                            "example": "20000.0000"
                                                        },
                                                        "total": {
                                                            "type": "string",
                                                            "example": "120000.0000"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "time_series": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "bucket": {
                                                                "type": "string",
                                                                "example": "2026-01"
                                                            },
                                                            "count": {
                                                                "type": "integer"
                                                            },
                                                            "subtotal": {
                                                                "type": "string"
                                                            },
                                                            "tax_amount": {
                                                                "type": "string"
                                                            },
                                                            "total": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "by_type": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "type": {
                                                                "type": "string"
                                                            },
                                                            "type_label": {
                                                                "type": "string"
                                                            },
                                                            "count": {
                                                                "type": "integer"
                                                            },
                                                            "total": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "by_country": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "country": {
                                                                "type": "string",
                                                                "example": "de"
                                                            },
                                                            "count": {
                                                                "type": "integer"
                                                            },
                                                            "total": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "by_state": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "state": {
                                                                "type": "string"
                                                            },
                                                            "state_label": {
                                                                "type": "string"
                                                            },
                                                            "count": {
                                                                "type": "integer"
                                                            },
                                                            "total": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "by_currency": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "currency": {
                                                                "type": "string"
                                                            },
                                                            "count": {
                                                                "type": "integer"
                                                            },
                                                            "subtotal": {
                                                                "type": "string"
                                                            },
                                                            "tax_amount": {
                                                                "type": "string"
                                                            },
                                                            "total": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "E-Reporting access is not active"
                    },
                    "422": {
                        "description": "Validation failed"
                    }
                },
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/compliance/tax-reports": {
            "get": {
                "tags": [
                    "Compliance"
                ],
                "summary": "List compliance tax reports for the authenticated company",
                "operationId": "0a3cbc1b2e5c38987f17bfed5a9c96ea",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/compliance/tax-reports/{id}": {
            "get": {
                "tags": [
                    "Compliance"
                ],
                "summary": "Get a single tax report",
                "operationId": "20eb68a982670c1961b43dabee724235",
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "404": {
                        "description": "Not found"
                    }
                }
            }
        },
        "/compliance/transactions": {
            "get": {
                "tags": [
                    "Compliance"
                ],
                "summary": "List compliance transactions (filterable by date / state / type)",
                "operationId": "4fe79e545656f42c0dd6021a0478cd6a",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            },
            "post": {
                "tags": [
                    "Compliance"
                ],
                "summary": "Record and (optionally) submit a Flux 10 transaction",
                "description": "Persists the transaction locally, then forwards it to the provider as the appropriate B2Brouter invoice type (IssuedSimplifiedInvoice for B2C, IssuedInvoice for outbound, ReceivedInvoice for inbound). Set `submit_now=false` to defer submission.",
                "operationId": "35d08bf213aa62e763155887fc57b5d0",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "compliance_enrollment_id",
                                    "transaction_type",
                                    "invoice_number",
                                    "invoice_date",
                                    "subtotal",
                                    "total",
                                    "invoice_lines_attributes"
                                ],
                                "properties": {
                                    "compliance_enrollment_id": {
                                        "type": "integer",
                                        "example": 12
                                    },
                                    "transaction_type": {
                                        "type": "string",
                                        "enum": [
                                            "b2c_outbound",
                                            "crossborder_outbound",
                                            "crossborder_inbound",
                                            "b2b_domestic_outbound",
                                            "b2b_domestic_inbound"
                                        ]
                                    },
                                    "invoice_number": {
                                        "type": "string",
                                        "example": "TKT-2026-00001"
                                    },
                                    "invoice_date": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "due_date": {
                                        "type": "string",
                                        "format": "date",
                                        "nullable": true
                                    },
                                    "currency": {
                                        "type": "string",
                                        "example": "EUR"
                                    },
                                    "subtotal": {
                                        "type": "number",
                                        "format": "float"
                                    },
                                    "tax_amount": {
                                        "type": "number",
                                        "format": "float"
                                    },
                                    "total": {
                                        "type": "number",
                                        "format": "float"
                                    },
                                    "counterparty_name": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "counterparty_country": {
                                        "type": "string",
                                        "example": "de",
                                        "nullable": true
                                    },
                                    "counterparty_vat_number": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "provider_contact_id": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "invoice_lines_attributes": {
                                        "type": "array",
                                        "items": {
                                            "required": [
                                                "description",
                                                "quantity",
                                                "price",
                                                "taxes_attributes"
                                            ],
                                            "properties": {
                                                "description": {
                                                    "type": "string"
                                                },
                                                "quantity": {
                                                    "type": "number"
                                                },
                                                "price": {
                                                    "type": "number"
                                                },
                                                "unit": {
                                                    "type": "integer",
                                                    "example": 9
                                                },
                                                "taxes_attributes": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "name": {
                                                                "type": "string",
                                                                "example": "TVA"
                                                            },
                                                            "percent": {
                                                                "type": "number",
                                                                "example": 20
                                                            },
                                                            "category": {
                                                                "description": "S/AA/AAA/K/G/AE/E/Z — see TVA-Konfiguration",
                                                                "type": "string",
                                                                "example": "S"
                                                            },
                                                            "comment": {
                                                                "description": "Required when category=E (VATEX code)",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "payment_method": {
                                        "description": "Required for cross-border outbound",
                                        "type": "integer",
                                        "nullable": true
                                    },
                                    "remittance_information": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "payment_method_text": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "payment_terms": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "submit_now": {
                                        "type": "boolean",
                                        "default": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Transaction created (and submitted when submit_now=true)"
                    },
                    "404": {
                        "description": "Enrollment not found / belongs to another company"
                    },
                    "422": {
                        "description": "Validation failed"
                    },
                    "502": {
                        "description": "Provider error"
                    }
                },
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/compliance/transactions/{id}": {
            "get": {
                "tags": [
                    "Compliance"
                ],
                "summary": "Get a single compliance transaction",
                "operationId": "67410b80e051c4ae2166f9ede1423024",
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "404": {
                        "description": "Not found"
                    }
                }
            },
            "put": {
                "tags": [
                    "Compliance"
                ],
                "summary": "Update a pending compliance transaction",
                "description": "Only transactions in 'pending' state can be edited. All body fields are optional; only provided fields are updated. Invoice lines and payment extras replace the stored draft payload.",
                "operationId": "a150f33e0fa72da34b98483b87ce4619",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Transaction ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "transaction_type": {
                                        "type": "string",
                                        "enum": [
                                            "b2c_outbound",
                                            "crossborder_outbound",
                                            "crossborder_inbound",
                                            "b2b_domestic_outbound",
                                            "b2b_domestic_inbound"
                                        ]
                                    },
                                    "invoice_number": {
                                        "type": "string",
                                        "example": "TKT-2026-00001"
                                    },
                                    "invoice_date": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "due_date": {
                                        "type": "string",
                                        "format": "date",
                                        "nullable": true
                                    },
                                    "currency": {
                                        "type": "string",
                                        "example": "EUR",
                                        "nullable": true
                                    },
                                    "subtotal": {
                                        "type": "number",
                                        "format": "float"
                                    },
                                    "tax_amount": {
                                        "type": "number",
                                        "format": "float",
                                        "nullable": true
                                    },
                                    "total": {
                                        "type": "number",
                                        "format": "float"
                                    },
                                    "counterparty_name": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "counterparty_country": {
                                        "type": "string",
                                        "example": "de",
                                        "nullable": true
                                    },
                                    "counterparty_vat_number": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "provider_contact_id": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "invoice_lines_attributes": {
                                        "type": "array",
                                        "items": {
                                            "type": "object"
                                        }
                                    },
                                    "payment_method": {
                                        "type": "integer",
                                        "nullable": true
                                    },
                                    "remittance_information": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "payment_method_text": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "payment_terms": {
                                        "type": "string",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Updated transaction"
                    },
                    "404": {
                        "description": "Transaction not found"
                    },
                    "422": {
                        "description": "Only pending transactions can be edited / validation failed"
                    }
                },
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Compliance"
                ],
                "summary": "Delete a pending compliance transaction",
                "description": "Only transactions in 'pending' state can be deleted.",
                "operationId": "bb30c6ed9615d3775d27997d37941c28",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Transaction ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Transaction deleted"
                    },
                    "404": {
                        "description": "Transaction not found"
                    },
                    "422": {
                        "description": "Only pending transactions can be deleted"
                    }
                },
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/compliance/transactions/{id}/submit": {
            "post": {
                "tags": [
                    "Compliance"
                ],
                "summary": "Submit (or retry) an existing transaction to the provider",
                "description": "Submits a transaction that is in 'pending' or 'error' state to B2Brouter/DGFiP. Replays the invoice lines stored in provider_payload so they don't have to be re-sent. Already-submitted transactions are rejected.",
                "operationId": "ce77bb6c10396aac8c480a0720986cfa",
                "responses": {
                    "200": {
                        "description": "Transaction submitted"
                    },
                    "404": {
                        "description": "Transaction not found"
                    },
                    "422": {
                        "description": "Transaction already submitted / enrollment not provisioned"
                    },
                    "502": {
                        "description": "Provider error"
                    }
                },
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/compliance/transactions/import": {
            "post": {
                "tags": [
                    "Compliance"
                ],
                "summary": "Bulk import compliance transactions from a CSV file",
                "description": "Uploads a semicolon-delimited CSV (max 2 MB). Required columns: invoice_number, invoice_date, transaction_type, subtotal, total, line_description, line_quantity, line_price, tax_name, tax_percent, tax_category. Optional columns: due_date, currency, tax_amount, counterparty_name, counterparty_country, counterparty_vat_number. Rows sharing an invoice_number are grouped into one transaction with multiple lines. Duplicates (same invoice natural key) are skipped without error.",
                "operationId": "a248d35a72961714ffbd408579ab505e",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "compliance_enrollment_id",
                                    "file"
                                ],
                                "properties": {
                                    "compliance_enrollment_id": {
                                        "type": "integer",
                                        "example": 12
                                    },
                                    "file": {
                                        "description": "CSV file, ';' delimiter, max 2048 KB",
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Import result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "created": {
                                                    "type": "integer",
                                                    "example": 42
                                                },
                                                "skipped_duplicates": {
                                                    "type": "integer",
                                                    "example": 3
                                                },
                                                "errors": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "example": [
                                                        "Row 5: invalid transaction_type 'invalid'"
                                                    ]
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Enrollment not found for this company"
                    },
                    "422": {
                        "description": "Missing CSV columns / unreadable file / validation failed"
                    }
                },
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/compliance/vat-rates": {
            "get": {
                "tags": [
                    "Compliance"
                ],
                "summary": "List the VAT rates & DGFiP tax categories for a reporting country",
                "description": "Returns the canonical VAT rates and DGFiP tax categories (single source of truth, maintained in config/compliance.php). The rates are the seller's reporting-country rates. Defaults to the configured default country when no/unknown country is given.",
                "operationId": "1a82e9cb07033a70f4576ff55bd32dba",
                "parameters": [
                    {
                        "name": "country",
                        "in": "query",
                        "description": "ISO 3166-1 alpha-2 reporting country code (e.g. FR)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "FR"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "VAT rates for the country"
                    }
                },
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/compliance/e-reporting-request": {
            "post": {
                "tags": [
                    "Compliance"
                ],
                "summary": "Request activation of the E-Reporting feature",
                "description": "Submits an activation request for the E-Reporting feature. Intentionally NOT gated by the compliance access middleware, so customers without the feature can request it. The authenticated user's name/email are used as identity; body values are fallbacks only.",
                "operationId": "05eec6d3afa30f0dc4df8ae888423c6a",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "nullable": true
                                    },
                                    "email": {
                                        "description": "Fallback if the authenticated user has no email",
                                        "type": "string",
                                        "format": "email",
                                        "maxLength": 255,
                                        "nullable": true
                                    },
                                    "company": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "nullable": true
                                    },
                                    "phone": {
                                        "type": "string",
                                        "maxLength": 64,
                                        "nullable": true
                                    },
                                    "message": {
                                        "type": "string",
                                        "maxLength": 5000,
                                        "nullable": true
                                    },
                                    "language": {
                                        "type": "string",
[...]
